@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}



.left {
    width: 25vw;
}

.right {
    width: 75vw;
    margin: 7px 0;
    background-color: #1f1f1f;
}


.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 8px 16px;
    font-weight: bold;
    align-items: center;
}

.heading h2 {
    font-size: 1rem;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    font-size: 10px;
    color: grey;
    gap: 13px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    padding: 0.8rem;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding-top: 0;
}

header > * {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
    max-height: 80vh;
    overflow-y: scroll;
}

.cardContainer {
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;

}

.card {
    width: 200px;
    background-color: #171717;
    padding: 0.8rem;
    position: relative;
}

.card:hover {
    background-color: #262626;
}

.card > * {
    padding-top: 3px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    right: 1.2rem;
    top: 13rem;
    opacity: 0;
    transition: all 1s ease-out;
}

.buttons > *{
    margin: 0px 0.8rem;
}
button {
    cursor: pointer;
}

/* sign-up and login buttons */

.signupbtn {
    background-color: #101010;
    color: grey;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    outline: none;
}

.signupbtn:hover {
    font-size: 1.1rem;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 23px;
    color: black;
    padding: 0.8rem 2rem;
    border: none;
    outline: none;
}
.loginbtn:hover {
    font-weight: bold;
    padding: 0.8rem 2.1rem;
}